@import '@/styles/shared/mixins';

.Header {
  @include flexbox(space-around, center);
  @include box-shadow(0, 1px, 1px, rgb(0 0 0 / 12%));
  background-color: rgb(var(--primaryBackground));
  width: 100%;
  height: 60px;

  &.FixedTop {
    @include position(fixed, 0);
    z-index: 1000;
  }

  .Wrapper {
    @include flexbox(space-between, center);

    .HeaderLeft.Logo {
      svg {
        width: 118px;
        height: 42px;
      }
    }

    .HeaderCenter {
      max-width: 361px;
      .SearchInput {
        background: rgba(var(--primaryColor), 0.06);
        border-radius: 92px;
        overflow: hidden;
        z-index: 1;
        width: 100%;

        &:focus-within {
          border: 1.5px solid rgba(var(--primaryColor), 0.2);
        }

        input {
          font-family: var(--fontFamilyParagraph);
          border: none;
          background: transparent;
          outline: none;
          width: 292px;
          color: rgb(var(--primaryColor));

          &:not(:placeholder-shown) ~ .search-button svg {
            fill: rgba(var(--primaryColor), 0.75);
          }
        }

        .Splitter {
          width: 1px;
          height: 28px;
          background: rgba(var(--primaryColor), 0.12);
        }

        .SearchButton {
          cursor: pointer;
          outline: none;
          border: none;
          background: transparent;

          svg {
            fill: rgba(var(--primaryColor), 0.34);
          }

          &:hover {
            background-color: rgba(var(--primaryColor), 0.03);
          }
        }
      }
    }

    .HeaderRight {
      .MessageContainer {
        cursor: pointer;
        height: 32px;
      }

      .InboxContainer {
        cursor: pointer;
        height: 32px;
      }

      .ProfileContainer {
        width: 32px;
        height: 32px;
        @include background-img(center, cover);
        border-radius: 50%;
        cursor: pointer;
      }

      .LogoutEntrance {
        border-top: 1px solid rgba(var(--primaryColor), 0.12);
      }

      .MoreIconWrapper {
        cursor: pointer;
        font-style: normal;
      }
    }
  }
}
