@import '@/styles/shared/variables';

:root {
  --primaryColor: #{$rgb-color-primary};
  --redColor: #{$rgb-color-red};
  --primaryBackground: #{$rgb-background-primary};
  --greyBackground: #{$rgb-background-grey};
  --fontFamilyHeading: #{$font-family-heading};
  --fontFamilyParagraph: #{$font-family-paragrap};
}
