:root {
  --primaryColor: 22, 24, 35;
  --primaryBackground: 255, 255, 255;
  --transparent: transparent;
  --fontFamilyHeading: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  --fontFamilyParagraph: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fontFamilyParagraph);
  font-size: 14px;
  color: var(--primaryColor);
  background-color: var(--primaryBackground);
  overscroll-behavior: contain;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  a {
    color: var(--primaryColor);
    -webkit-transition: color 250ms;
    transition: color 250ms;
    text-decoration: none;
    cursor: pointer;
  }
}
